# Module 3: Database Design and SQL

## Learning Objectives
- Master database design principles
- Learn SQL fundamentals and advanced queries
- Understand indexing and performance optimization
- Practice database normalization

## Topics Covered
- Database design principles and ER modeling
- SQL DDL, DML, and DCL
- Advanced SQL queries (joins, subqueries, window functions)
- Database indexing and optimization
- Normalization and denormalization

## Time Estimate: 3-4 weeks
## Success Criteria: Design a normalized database schema and write complex SQL queries

---

## Section 1: Database Design Principles

Good database design is the foundation of any data-driven application. Let's explore the key principles and create an Entity-Relationship (ER) model.

In [ ]:
# Database Design Example: E-commerce System

# Let's create a simple database schema using SQLite
import sqlite3
import os

# Create a new database file
db_path = "ecommerce.db"
if os.path.exists(db_path):
    os.remove(db_path)  # Remove existing database

conn = sqlite3.connect(db_path)
cursor = conn.cursor()

# Create tables for an e-commerce system
create_tables_sql = """
-- Users table
CREATE TABLE users (
    user_id INTEGER PRIMARY KEY AUTOINCREMENT,
    username VARCHAR(50) UNIQUE NOT NULL,
    email VARCHAR(100) UNIQUE NOT NULL,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Categories table
CREATE TABLE categories (
    category_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name VARCHAR(100) NOT NULL,
    description TEXT,
    parent_category_id INTEGER,
    FOREIGN KEY (parent_category_id) REFERENCES categories(category_id)
);

-- Products table
CREATE TABLE products (
    product_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name VARCHAR(200) NOT NULL,
    description TEXT,
    price DECIMAL(10, 2) NOT NULL,
    stock_quantity INTEGER DEFAULT 0,
    category_id INTEGER NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (category_id) REFERENCES categories(category_id)
);

-- Orders table
CREATE TABLE orders (
    order_id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_id INTEGER NOT NULL,
    order_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    total_amount DECIMAL(10, 2) NOT NULL,
    status VARCHAR(20) DEFAULT 'pending',
    FOREIGN KEY (user_id) REFERENCES users(user_id)
);

-- Order items table (many-to-many relationship between orders and products)
CREATE TABLE order_items (
    order_item_id INTEGER PRIMARY KEY AUTOINCREMENT,
    order_id INTEGER NOT NULL,
    product_id INTEGER NOT NULL,
    quantity INTEGER NOT NULL,
    unit_price DECIMAL(10, 2) NOT NULL,
    FOREIGN KEY (order_id) REFERENCES orders(order_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id)
);
"""

# Execute the SQL to create tables
cursor.executescript(create_tables_sql)

print("✅ Database schema created successfully!")
print("\nTables created:")
print("- users (customers)")
print("- categories (product categories)")
print("- products (product catalog)")
print("- orders (customer orders)")
print("- order_items (order details)")

# Insert sample data
sample_data_sql = """
-- Insert sample users
INSERT INTO users (username, email, first_name, last_name) VALUES
('alice_smith', 'alice@email.com', 'Alice', 'Smith'),
('bob_jones', 'bob@email.com', 'Bob', 'Jones'),
('charlie_brown', 'charlie@email.com', 'Charlie', 'Brown');

-- Insert sample categories
INSERT INTO categories (name, description) VALUES
('Electronics', 'Electronic devices and accessories'),
('Clothing', 'Apparel and fashion items'),
('Books', 'Books and educational materials');

-- Insert sample products
INSERT INTO products (name, description, price, stock_quantity, category_id) VALUES
('Laptop', 'High-performance laptop computer', 999.99, 10, 1),
('Smartphone', 'Latest model smartphone', 699.99, 25, 1),
('T-Shirt', 'Comfortable cotton t-shirt', 19.99, 50, 2),
('Jeans', 'Classic blue jeans', 49.99, 30, 2),
('Python Book', 'Learn Python programming', 39.99, 15, 3),
('Database Guide', 'SQL and database fundamentals', 29.99, 20, 3);

-- Insert sample orders
INSERT INTO orders (user_id, total_amount, status) VALUES
(1, 1019.98, 'completed'),
(2, 69.98, 'pending'),
(3, 39.99, 'completed');

-- Insert sample order items
INSERT INTO order_items (order_id, product_id, quantity, unit_price) VALUES
(1, 1, 1, 999.99),  -- Alice bought a laptop
(1, 3, 1, 19.99),   -- Alice also bought a t-shirt
(2, 2, 1, 699.99),  -- Bob bought a smartphone (but this should be 69.98 total)
(3, 5, 1, 39.99);   -- Charlie bought a Python book
"""

cursor.executescript(sample_data_sql)
print("\n✅ Sample data inserted successfully!")

# Commit changes and close connection
conn.commit()
conn.close()

print(f"\nDatabase file created: {db_path}")
print("You can now explore the database using SQL queries!")